<!-- partial for future photo implementation-->

<div class="breaks-photo">
    <img src="images/<%= image %>.jpg" class= "first-photo" alt="Sports Card Breaks">
    <div class="centered">
        <h1><%= text %></h1>
        <p>In Stock</p>
    </div>
</div>