
        <div class="navbar">
            <div class="container">
                <a class="logo" href="index.html">OceaniaBreaks</a>
                
                <img id ="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Drop down menu">  
                
                <nav>
                    <img id ="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Exit drop down menu">
                    <ul class="primary-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Breaks</a></li>
                        <li><a href="#">Hits Meseum</a></li>
                        <li>
                            <a href="#">Socials</a>
                            <span class ="fa fa-plus"></span>
                            <ul>
                                <li><a href="https://www.tiktok.com/@oceaniabreaks">TikTok</a></li>
                                <li><a href="https://www.facebook.com/groups/oceaniabreaksv2">Facebook</a></li>
                                <li><a href="#">Youtube</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="secondary-nav">
                        <span class = "fa fa-user"></span>
                        <span class = "fa fa-shopping-cart"></span>
                    </ul>
                </nav>
            </div>
        </div>

        <section class="hero">
            <div class="container">
                <img src="images/OceaniaBreaks.jpg" alt="OceaniaBreaksLogo">
                <div class="middle-col">
                    <p class="subhead">Welcome To OceaniaBreaks NZ</p>
                    <h1>The holy grail of Sports Card Breaks</h1>
                    <div class="hero-cta">
                        <a href="#" class="primary-cta">    Football Breaks    </a>
                        <a href="#" class="primary-cta">    Basketball Breaks    </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="features-section">
            <div class="container">
                <img src="images/1200px-Topps_Logo.svg.png" alt="Topps logo">
                <img src="images/Panini_new.png" alt="Panini Logo">
                <img src="images/1200px-Upper_Deck_Logo.svg.png" alt="Upper Deck Logo">
                <img src="images/Leaf_cards_logo.png" alt="Leaf_cards_logo logo">
            </div>
        </section>

        <section class="paragraph-section">
            <div class="container">
                <ul>
                    <h1>Looking for Football, or NBA Breaks?</h1> 
                    <p>Oceania Breaks acquire all of our inventory from the best suppliers, meaning we pass the best deals onto you.</p>
                </ul>
            </div>
        </section>

        <section class="two-photos">
            <div class="container">
                <%- include('partials/card.ejs',{"text":"Sports Sports Card Breaks","image":"merlin"}) %>
                <%- include('partials/card.ejs',{"text":"Shop Sports Card Singles","image":"chriswood"}) %>
                
            </div>
        </section>

        <section class = "youtube-videos">
            <h1>Some of our favourite football videos!</h1>
            <iframe width="420" height="315" class="video1"
            src="https://www.youtube.com/embed/bKOTKHtbM54"></iframe>

            <iframe width="420" height="315" class="video2"
            src="https://www.youtube.com/embed/ZWYGRehfmR4"></iframe>
        </section>

        
        <section class = "carousel">
            <h1>Browse our best hits so far!</h1>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">                        
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                    </div>
                </div>
        </section>

        <section class="custom-social-proof">
            <div class="custom-notification">
              <div class="custom-notification-container">
                <div class="custom-notification-image-wrapper">
                    <img src= "images/prizm.webp" class="notif-image">
                </div>
                
                <div class="custom-notification-content-wrapper">
                  <p class="custom-notification-content">
                      
                   
                  </p>
                </div>
              </div>
              <div class="custom-close"></div>
            </div>
          </section>

        <script>
          
            let carouselClass = document.querySelector(".glide__slides");

            (async() => {
                const config = {
                    type: 'carousel',
                    perView: 4,
                    breakpoints: {
                        800: {
                        perView: 2
                        }
                    }
                }
                
                let firstFetch = await fetch("https://mighty-river-48400.herokuapp.com/api/data");
                let oceaniaBreaksData = await firstFetch.json();
                let oceaniaArray = oceaniaBreaksData.Oceaniabreaks;
                console.log(oceaniaArray);

                oceaniaArray.forEach((element, index) => {
                    let nextPhoto = element.image;
                    let li = document.createElement("li");;
                    let img = document.createElement('img');
                    img.className = "glide__slide";
                    img.src = ("https://mighty-river-48400.herokuapp.com/img/" + nextPhoto);
                    li.append(img)
                    carouselClass.append(li);
                });

                let glide = new Glide('.glide',config);                    
                glide.mount();
            })();

           


            const mobileBtn = document.querySelector('#mobile-cta')
                nav = document.querySelector('nav')
                mobileBtnExit = document.querySelector('#mobile-exit');
            
            mobileBtn.addEventListener('click', () =>{
                nav.classList.add('menu-btn');
            })

            mobileBtnExit.addEventListener('click', () =>{
                nav.classList.remove('menu-btn');
            })

            let nameSales = ['Kate','Caleb','Matilda','Marco','Ben','Josh','Artem','Zach','Ruben','Tom'];
           let productName = [{id:"0", name:"Prizm Hobby Box", image:"images/prizm.webp"},
                              {id:"1", name:"Chronicles Hobby Box", image:"images/chronicles.jpg"}, 
                              {id:"2", name:"Euro Mosaic Hobby Box", image:"images/Mosaic.png"}, 
                              {id:"3", name:"Immaculate Hobby Box", image:"images/immaculate.jpg"} 
                            ];
            let timeArray = ['1 hour ago', '30 minutes ago', '2 hours ago', '1 minute ago', 'right now'];



            let notificationText = document.querySelector(".custom-notification-content");
            let productPhoto = document.querySelector(".custom-notification-image-wrapper");
            let productPhotoSrc = document.querySelector(".notif-image");
/*
            setInterval(function(){
                
                

            },8000);*/

            setInterval(function(){ $(".custom-social-proof").stop().slideToggle('slow', () => {
                if($(".custom-social-proof").is(":hidden")){
                    let randomName = Math.floor(Math.random() * nameSales.length);
                    let randomProduct = Math.floor(Math.random() * productName.length);
                    let randomTime = Math.floor(Math.random() * timeArray.length);
                    productPhotoSrc.src = productName[randomProduct].image;
                    notificationText.innerHTML = nameSales[randomName] + " Purchased  <br>" + productName[randomProduct].name + "<br>" + timeArray[randomTime];
                }
            }); }, 7000);
          
          
          
            $(".custom-close").click(function() {
                $(".custom-social-proof").stop().slideToggle('slow');
            });
            
            

/* https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 
   https://boostedusa.com/
    http://sachinchoolur.github.io/lightslider/
    https://splidejs.com/
    https://www.youtube.com/watch?v=ku_97a6Bgkg
    https://www.youtube.com/watch?v=woL0YlCqO64

    https://www.youtube.com/watch?v=kpAt25cOBrU&ab_channel=iEatWebsites
    https://glidejs.com/docs/setup/
    install heroku cli before doing commands
*/
        </script>

